* {
	font-family: 'Petemoss', cursive;

}
body{
	background: white;

}

.modelos_responsive{
	display: none;
}

.titulo{
	display: block;
	font-size: 50px;
	position: sticky;
	background:#ddad4d;
	padding: 0px;
	margin: 0px;
	text-align: center;
	top: 0px;
	z-index: 10
}
	

.modelosdisponibles{
	position: relative;
	background: #ddad4d;
	color: black;
	text-align: center;
	margin-top: 10px;
	z-index: 1
}


.spider {
	position: relative;
	display: inline-block;
	top: 50px;
	left: 50px;
	border: solid black;
	height: 330px;
	width: 300px;
	padding: 10px;
	margin-left: 70px;
	margin-right: 100px; 
	transition: 0.5s;
	
}

.spider:hover{
	box-shadow:  5px -5px 7px  #DDAD4D;
	background: #F2F3F4;
}
div h2{
	text-align: center;
	font-size: 35px;
	
}
div p{
	font-size: 15px;
	font-family: cursive;
	opacity: 0.5;
	text-align: center;
	
}

.spider img{
	display: block;
	height: 200px;
	width: 200px;
	margin: 10px auto;

}

.girly{
	position: relative;
	display: inline-block;
	top: 50px;
	left: 50px;
	border: solid black;
	height: 330px;
	width: 300px;
	padding: 10px;
	margin-right: 100px;
	transition: 0.5s;
}

.girly:hover{
	box-shadow:  5px -5px 7px  #DDAD4D;
	background: #F2F3F4;
}

.girly img{
	display: block;
	height: 200px;
	width: 200px;
	margin: 10px auto;
}	

.lovermood{
	position: relative;
	display: inline-block;
	top: 50px;
	left: 50px;
	border: solid black;
	height: 330px;
	width: 300px;
	padding: 10px;
	margin-right: 70px;
	transition: 0.5s;
}

.lovermood:hover{
	box-shadow:  5px -5px 7px  #DDAD4D;
	background: #F2F3F4;
}

.lovermood img{
	display: block;
	height: 200px;
	width: 200px;
	margin: 10px auto;
}

@media only screen and (max-width: 1000px ) {

	.modelos{
		display: none;
	}
	.modelos_responsive{
		display: block;

	}
	div h2{
	text-align: center;
	font-size: 35px;	
	}
div p{
	font-size: 15px;
	font-family: cursive;
	opacity: 0.5;
	text-align: center;
	}

	.spider_responsive{
	position: relative;
	display: block;
	border: solid black;
	height: 330px;
	width: 300px;
	padding: 10px;
	margin: auto;
	top: 50px;
	margin-bottom: 50px;
	transition: 08;
	
}
.spider_responsive:hover{
	box-shadow: 2px 2px 5px #DDAD4D;
}

.spider_responsive img{
	display: block;
	height: 200px;
	width: 200px;
	margin: 10px auto;

}

.girly_responsive{
	position: relative;
	display: block;
	border: solid black;
	height: 330px;
	width: 300px;
	padding: 10px;
	margin: auto;
	top: 50px;
	margin-bottom: 50px;
	
}

.girly_responsive img{
	display: block;
	height: 200px;
	width: 200px;
	margin: 10px auto;
}	

.lovermood_responsive{
	position: relative;
	display: block;
	border: solid black;
	height: 330px;
	width: 300px;
	padding: 10px;
	margin: auto;
	top: 50px;
	margin-bottom: 50px;
	
}

.lovermood_responsive img{
	display: block;
	height: 200px;
	width: 200px;
	margin: 10px auto;
}
















}








































.contactanos{
	font-size: 20px;
	
	float: right;
	
}

footer a{
	text-decoration: none;
	font-family: cursive;
	color: black;
	font-size: 20px;
}
p{
	font-size: 50px;
}